<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p>A professional platform for career management and profile sharing.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50">Home</a></li>
                    <li><a href="{% url 'register' %}" class="text-white-50">Register</a></li>
                    <li><a href="{% url 'login' %}" class="text-white-50">Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: support@membershipportal.com</p>
                <p>Phone: +1 (555) 123-4567</p>
            </div>
        </div>
        <hr class="border-white-50">
        <div class="text-center">
            <p>&copy; 2025 Membership Portal. All rights reserved.</p>
        </div>
    </div>
</footer>